// COLOR VARIABLES

$color-text: #0000ff;
$color-black: #000;
$color-text-1: #17d4fe;

// FONT VARIABLES

$font-primary: "Roboto", sans-serif;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: $font-primary;
  font-weight: 400;
  line-height: 1.6;
}
